* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Default theme */
    --purple-color: rgb(137, 98, 243);
    --main-grey: rgb(107, 103, 103);
    --purple-light-hover-transparency: rgba(137, 98, 243, 0.5);
    --light-bg: rgb(247, 245, 245);

    /* Tutti Frutti theme */
    --primary-color-font: white;
    --primary-color-button: black;
    --colored-bg: linear-gradient(217deg, rgb(255 0 0 / 80%), transparent 70.71%),
    linear-gradient(127deg, rgb(0 255 0 / 80%), transparent 70.71%),
    linear-gradient(336deg, rgb(0 0 255 / 80%), transparent 70.71%);

    /* dark mode */
    --dark-mode-bg:rgb(48, 31, 95);
    --dark-mode-color: white;
}

body {
    margin: 5vh 5vh;
    font-family: "Lato", sans-serif;
}

main {
    margin:5vh auto;
    max-width:500px;
    border-radius: 12px;
    padding: 2%;
    background-color: transparent;
}

/* Color themes */
body.default {
    background-color:var(--light-bg);
    color: var(--primary-color-button);
}

body.dark {
    background-color: var(--dark-mode-bg);
    color:var(--dark-mode-color);
}

body.dark #theme-btn {
    border: white;
}

body.colored main {
    background:linear-gradient(217deg, rgb(255 0 0 / 80%), transparent 70.71%),
    linear-gradient(127deg, rgb(0 255 0 / 80%), transparent 70.71%),
    linear-gradient(336deg, rgb(0 0 255 / 80%), transparent 70.71%);
}

body.colored #theme-btn {
    background:linear-gradient(217deg, rgb(255 0 0 / 80%), transparent 70.71%),
    linear-gradient(127deg, rgb(0 255 0 / 80%), transparent 70.71%),
    linear-gradient(336deg, rgb(0 0 255 / 80%), transparent 70.71%);
    border: none;
  }

  body.colored #theme-btn:hover {
    background-color: var(--purple-color);
    background-image: none;
  }

  body.colored .filter.active {
    color:var(--primary-color-button);
    border-bottom: 2px solid var(--primary-color-button);
}

  body.colored .remaining-count {
    color: yellow;
  }

  /* Change theme button */
#theme-btn {
    background-color: var(--purple-color);
    color: white;
    font-weight: 500;
    border-radius: 12px;
    padding: 0.5rem;
    margin-left: 75%;
    margin-top: 3px;
    cursor: pointer;
    border: none;
}

#theme-btn:hover {
    color:white;
    border: none;
    transform: scale(1.1);
}

/* Main container */
.main-section {
    width:100%;
    display:flex;
    flex-direction:column;
}

h1 {
    margin: 2vh auto;
}

/* Input bar */
.input-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#new-task-input {
    flex:1;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: -1px 1px 1px rgb(194, 192, 192);
    overflow: hidden;
    color:rgb(49, 43, 51);
}
  
  #new-task-input::placeholder {
    color: rgb(194, 192, 192);
  }

  #new-task-input:focus {
    outline:  none;
    box-shadow: 0 0 2px 2px var(--purple-color);
}

#add-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: black;
    color: white;
    cursor: pointer;
}

#add-btn:hover {
    background-color: var(--purple-color);
    border: none;
    transform: scale(1.1);
}

/* Dividing line (filters and tasks left) */
#filters {
    font: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
    margin-right: 5vw;
}

.filter:hover {
    color: var(--purple-color);
}

.filter.active {
    color:var(--purple-color);
    border-bottom: 2px solid var(--purple-color);
}

.filter {
    cursor: pointer;
}

.remaining-count {
    color:var(--purple-color);
    font-weight: bold;
}

/* Item list */
/* Empty image  */
.empty-image {
    margin: 5vh auto;
    width: 60%;
    opacity: 0.3;
}

#task-list {
    display:flex;
    flex-direction: column;
    margin-top: 2rem;;
}

.item {
    align-items: center;
    margin-top: 2vh;
    padding: 1em 0.5em;
    flex-grow: 1;
    background-color: white;
    color: black;
    height: 2rem;
    border-radius: 8px;
    box-shadow: -1px 1px 1px rgb(194, 192, 192);
}

.item:hover {
    background-color : var(--purple-light-hover-transparency);
}

.checkbox {
    margin: 0px 8px;
    background: transparent;
    border: 1px solid var(--purple-color);
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;
    transition:all 0.2s ease;
}

.checkbox:checked {
    background: var(--purple-color);
}

.checkbox:checked::before {
    content: '\2713';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1px;
}

.crossed {
    text-decoration: line-through;
    opacity: 0.6;
  }

.icons {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

.icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.clear-btn-container {
    display: flex;
    justify-content: center;
}

#clear-completed {
    cursor: pointer;
    display: none;
    margin-top: 2vh;
}

#clear-all {
    cursor: pointer;
    margin-top: 2vh;
}

#clear-completed:hover, #clear-all:hover {
    transform: scale(1.1)
}
